{{define "base" }}
    <!doctype html>
    <html lang="en">

    {{template "header" .}}

    <body>
    <p>The current time is -> {{(currentTime)}}</p>
    
    {{block "content" .}}

    {{end}}

    {{block "js" .}}

    {{end}}

    {{template "footer" .}}

    </body>
    </html>

{{end}}